body {
    background-color: black;
    padding: 0;
}
.imgWrapper {
    box-shadow: 0 0 1vw 0.1vw;
    position: fixed;
    border: 0.1vw solid #afafaf;
    transition: border 300ms;
}
.imgWrapper:hover {
    border-color: #ededed;
}
#img1, #img5 {
    z-index: 0;
}
#img2, #img4 {
    z-index: 1;
}
#img3 {
    z-index: 2;
    transition: border 700ms, transform 700ms ease;
}
#img3:hover {
    transform: scale(1.05, 1.05);
}
#buttonWrapper {
    position: fixed;
    bottom: 2vw;
    left: 40vw;
    width: 20vw;
    height: 5vw;
    display: flex;
    justify-content: space-between;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    border: 0.1vw solid #454545;
    border-radius: 100%;
    background-color: #454545;
    padding: 0;
    transition: background-color 300ms, padding 300ms;
}
button:hover {
    background-color: black;
    background-color: #878787;
    cursor: pointer;
}
button:nth-child(1):hover {    
    padding-right: 2vw;
}
button:nth-child(2):hover {    
    padding-left: 2vw;
}
#logo {
    filter: invert(100%);
    margin: auto;
    margin-top: 2vw;
}
#logo img {
    height: 10vw;
}